@using EntityLayer.Concrete

@model  List<SurveyAnswer>
@{
    ViewBag.Title = "SurveyAnswer";
    Layout = "~/Views/Shared/_PersonelLayout.cshtml";
}

<h2>SurveyAnswer</h2>
<!DOCTYPE html>
<html>

<body class="hold-transition sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Anketler</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Anket İşlemleri</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">


                    <tbody>
                        <tr>
                            <th style="width: 20%">
                                Personal Adı
                            </th>
                            <th style="width: 40%">
                                Anket
                            </th>
                            <th style="width: 40%">
                            soru
                            </th>
                            <th style="width: 40%">
                                Cevap
                            </th>

                            <th style="width: 50%">
                            </th>
                        </tr>


                        @foreach (var item in Model)
                        {
                            if(item.SurveyAnsweStatus == true)
                            { 
                            <tr>

                                <td>
                                    @item.Personal.PersonalName  @item.Personal.PersonalSurname
                                    <br />
                                </td>
                                <td>@item.SurveyQuestion.Survey.SurveyName </td>
                                <td>
                                    @item.SurveyQuestion.SurveyQuestionText
                                </td>
                                <td>
                                    @item.SurveyAnswerText
                                </td>

                                <td>
                                    <ul class="list-inline">
                                    </ul>
                                </td>

                            </tr>
                        }}

                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
</body>
</html>

